:root{
    --bg-color1: #FCFFF7;
    --accent-color: #FFE900;
    --font-color1: #0E1116;
    --font-color2: #4062BB;
}

h1{
    color: var(--accent-color);
}

main{
    background-color: var(--bg-color1);
}

p{
    color: var(--font-color1);
    font-weight: bold;
}

.jumbotron{
    background-image: linear-gradient(45deg, var(--font-color1), var(--font-color2));
}

.submitBtn, #loadMoreBtn{
    color: var(--font-color1);
    background-color: var(--accent-color);
    border: none;
    transition: background-color .5s ease-in-out;
}

.submitBtn:hover, #loadMoreBtn:hover{
    transform: scale(1.1);
    background-color: var(--font-color2);
}

.submitBtn:focus, #loadMoreBtn:focus{
    transform: scale(1.1);
    background-color: var(--font-color2);
}

#pokemonDisplay{
    background-color: var(--bg-color1);
}

