:root {
    --bg-color1: #FCFFF7;
    --accent-color: #FFE900;
    --font-color1: #0E1116;
    --font-color2: #4062BB;
}

body{
    overflow-x: hidden;
}

h1 {
    color: var(--accent-color);
}

main {
    background-color: var(--bg-color1);
}

p {
    color: var(--font-color1);
}

a{
    color: var(--accent-color);
}

a:hover{
    color: var(--font-color1);
}

footer{
    color: var(--accent-color);
    background-image: linear-gradient(45deg, var(--font-color2), var(--font-color1));
}

.jumbotron {
    background-image: linear-gradient(45deg, var(--font-color1), var(--font-color2));
}

.submitBtn, #loadMoreBtn, #loadPrevBtn, #allPokemonBtn {
    color: var(--font-color1);
    background-color: var(--accent-color);
    border: none;
    transition: background-color .6s ease-in-out;
}

 #loadMoreBtn:hover, #loadMoreBtn:focus, #loadPrevBtn:hover, #loadPrevBtn:focus, #allPokemonBtn:hover, #allPokemonBtn:focus {
    transform: scale(1.1);
    background-color: var(--font-color2);
    box-shadow: none;
}

#submit:active, #loadMoreBtn:active, #allPokemonBtn:active, #loadPrevBtn:active{
    box-shadow: none !important;
}

#submit:hover{
    background-color: var(--font-color2);
}

p {
    font-size: 1.2rem;
    line-height: 3rem;
    letter-spacing: .1rem ;
}

.pokemonList {
    height: 2rem;
    font-size: 1rem;
    line-height: normal;
    font-weight: bold;
    letter-spacing: .1rem ;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.pokemonMove {
    padding: .25rem;
    cursor: pointer;
    color: var(--font-color1);
    display: inline-block;
    transition: transform .2s ease-in-out;
}

.pokemonMove:hover, .pokemonMove:focus, .pokemonList:hover, .pokemonList:focus {
    transform: scale(1.3);
    background-color: var(--bg-color1);
   
}

